<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695640024145-553va8rphl5iffj0ln912umlk1hfi8qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695640024145-553va8rphl5iffj0ln912umlk1hfi8qj</string>
	<key>API_KEY</key>
	<string>AIzaSyAitgmtCaRsihIoXMvQ9c3RbyIa4CHRkfA</string>
	<key>GCM_SENDER_ID</key>
	<string>695640024145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insurancenewsai.app</string>
	<key>PROJECT_ID</key>
	<string>insurance-news-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>insurance-news-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695640024145:ios:3ef814b20f1f46b85ac470</string>
</dict>
</plist>